name: "Upload package.json SARIF"
# Run workflow each time code is pushed to your repository.
on:
  push:
    branches:
      - "main"
  workflow_dispatch:

permissions:
    security-events: write
  
jobs: 
  build:   
    runs-on: ubuntu-latest   
    steps:     
      - uses: actions/checkout@master
      - name: Run Snyk to check for vulnerabilities
        uses: snyk/actions/python@master          
        continue-on-error: true              
        env:          
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --sarif-file-output=snyk.sarif
      - name: Replace security-severity undefined for license-related findings 
        run: sed -i 's/"security-severity": "undefined"/"security-severity": "0"/g' snyk.sarif
      - name: Upload SARIF file       
        uses: github/codeql-action/upload-sarif@v3       
        with:         
          sarif_file: snyk.sarif
          token: ${{ secrets.GITHUB_TOKEN }}
